
body{
	background:url(fond.jpeg)   ;
	background-size: cover;
	font-family: 'Trebuchet MS', Arial, sans-serif;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}

h1{
	
	border-color: gray;
	border-style: groove;
	text-align : center;
	color : darkorchid;
}
	 
h3{
    margin: 10px 0;
    color: #002D40;
    text-shadow: 1px 2px #FFFFFF;
    font-weight: normal;
    font-size: 71px;
    
}
.toto {
padding-left:40px;
padding-top: 20px;
height: 85px;
background:url(facebook.png)   ;
color: #0A0900;
font-size: 30px;
text-align: center;
}



.affichage{
	border: 10px solid #00FFFF;
	border-width:medium;
	text-align: center;
	width: 600px;
	height: 100px;
	margin-top:  50px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding-top: 20px;
	font-size: 33px;
	color : #000000;
	background-color: #0000FF
}

.lien {
	color: #FF0000
}

.image {
	color : #FF0000
}
.para{
	font-size: 30px;
	color : blue;
	text-align : center;
}

table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    
}
td, th
{
    border: 3px solid black;
    
}